.Palette {
  height: 100vh;
  overflow: hidden;
}
.Palette p,
.Palette span {
  margin: 0;
  padding: 0;
}
.Palette-colors {
  height: 90%;
}
.navbar {
  max-height: 5%;
}
.Palette-footer {
  background-color: rgb(212, 211, 211);
  height: 25px;
  line-height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.emoji {
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
}
